html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.design {
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#left-image {
  background-image: url('/img/left.png');
}

#right-image {
  background-image: url('/img/right.png');
  background-position: right;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  display: flex;
  flex-flow: column;
}

main > .MuiContainer-root {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

main > .MuiContainer-root > h1 {
  margin-bottom: 2em;
  font-weight: bold;
}

sub {
  font-size: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #1db954;
  border-top: 1px solid #4d4d4d;
}

footer a {
  font-weight: bold;
}

#submit {
  margin: 3em 0 1em 0;
}

b {
  color: #1DB954;
}

ol {
  list-style: none;
  counter-reset: li;
  margin-bottom: 3em;
}

li {
  color: #666;
}

li::before {
  content: counter(li) ".";
  counter-increment: li;
  color: #1DB954;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
  font-weight: bold;
}

img.theme-image {
  max-width: 100%;
}

img.small {
  max-height: 12em;
}
